body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


h1{
    margin: 0;
    font-size: 50px;

}

h2{
    color: #084154;
    margin: 0;
    font-size: 32px;
    font-weight: normal;
    display: inline-block;
}

h3{
    color: #084154;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

sup{
    font-size: 50%;
}


.container{
    width: 90%;
    max-width: 1196px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.jst-btwn {
    justify-content: space-between;
}

.alg-itm {
    align-items: center;
}

.menu{
    width: 100%;
    padding: 40px 0;
    position: absolute;
    z-index: 10;
    
}

.submenu{
    display: none;
}

.dropdown{
    color: #FFFFFF;
    font-size: 14px;
    background-color: #084154;
    border: solid 2px #3EC6E0;
    width: 450px;
    padding: 40px;
    margin-top: 20px;

}

.dropdown a{
    color: #FFFFFF;
    text-decoration: none;
}

.dropdown ul{
    list-style: none;
   margin:0;
   padding:0;
}

.dropdown ul li{

    margin-bottom: 25px;
}

.dropdown strong {
    font-size: 16px;
}

.coluna{
    color: #FFFFFF;
}

.coluna img{
    margin-right: 50px;
}

.coluna a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 40px;
}

.coluna a:last-child{
    margin-right: 0;
}

.coluna a img{
    margin-right: 15px;
}



.slide img{
    width: 100%;
}

.navegacao{
    position: absolute;
    top: 10%;
    left: 92%;
    z-index: 2;
    color: #fff;
   
}

.nome-jogo{
    width: 100px;
    height: 300px;
    background-color: #3EC6E0;
    font-size: 18px;

}

.nome-jogo p{
    transform: rotate(90deg);
    padding-left: 80px;
    box-sizing: border-box;
}

.setas{
    width: 100px;
    height: 117px;
    background-color: #084154;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    
}

.setas input{
    padding-top: 10px;
    box-sizing: border-box;
    margin: 0 5px;
}


.texto-banner{
    color: #FFFFFF;
    text-align: right;   
      
}

.texto-banner .container {
    width: 420px; 
    position: absolute;
    top: 30%;  
    
}

.preco-banner{
    color: #3EC6E0;
    font-size: 80px;
    font-weight: bold;
    margin: 0;

}

.jogos{
    position: relative;
    top: -30px;
}

.banner-jogo{
    width: 49%;    
}

.banner-jogo img{
    width: 100%;
    
}

.quadrado{
    width: 23px;
    height: 23px;
    background-color: #3EC6E0;
    display: inline-block;
    margin-right: 15px;
}

.preco{
    color: #084154;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;

}

.produtos-destaque{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 250px;
}

.produto{
    margin-bottom: 50px;
}

.produto img{
    margin-bottom: 30px;
}

.produto a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}

.btn{
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #3EC6E0;
    display: inline-block;
    text-align: center;
}

.rodape-logo{
    width: 25%;
    height: 100px;
    background-color: #084154;
    grid-column-end: 2;
    padding-left: 15%;
    padding-right: 35px;
    box-sizing: border-box;
}

.rodape img{
    min-width: 50px;
}

.rodape-texto{
    width: 75%;
    height: 100px;
    background-color: #3EC6E0;
    color: #FFFFFF;
    padding-left: 35px;
    box-sizing: border-box;
   
}



@media screen and (max-width:767px){
 
    h2{
        font-size: 20px;
    }


    .dropdown{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: -16%;
        left: 0;
        flex-direction: column;
        justify-content: unset;
        padding-top: 150px;
    }

    .coluna-submenu{
        border-bottom: 1px solid #003344;
    }

    .coluna-submenu:last-child{
        border-bottom: none;
    }

    .dropdown ul li{
        padding: 15px 0;
        
    }

    .dropdown ul li:hover{
        background-color: #3EC6E0;
        color: #084154;
    }

    .dropdown ul li a:hover{
        color: #084154;
        font-weight: bold;
    }



    .coluna span{
        display: none;
    }

    .coluna a{
        margin: 0;
    }

    .navegacao{
        position: unset;
        display: flex;   
           
    }

    .nome-jogo{
        width: 60%;
        height: 67px;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    .nome-jogo p{
        transform: rotate(0);
        padding-left: 30px;
    }

    .setas{
        width: 40%;
        height: 67px;
        font-size: 18px;
        display: flex;
        align-items: center;
        text-align: left;
        padding-left: 30px;
        padding-top: 0;

    }

    .setas input{
        padding-top: 0;
        margin-left:25px
        
    }

    .jogos{
        position: unset;
        margin-bottom: 60px;
    }

    .banner-jogo{
         width: 100%; 
    }

    .banner-jogo img{
        margin-top: 20px;
    }

    .produto{
        width:284px; 
        
    }

  
}





